.title {
    font-size: 1.3em;
    font-weight: bold;
}

hr {
    height: auto;
    border: none;
    margin: 0;
    background-color: lightgray;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 2px;
    margin-top: 2px;
    background-image: none;
}

svg text {
    font-size:14px;
}

svg {
  //width: 100%;
}


#input{
    margin:0px;
    height:30ex;
    width:100%;
}

.header {
    padding-top: 16px;
    font-size: larger;
    font-weight: bolder;
}

#terms {
    height: 600px;
}

#error-div {
    color: white;
    background-color: red;
    font-weight: bold;
    padding: 2px;
    margin-top: 3px;
}

.hide {
    display: none;
}

.mark {
    background-color: seagreen;
    color: white;
    padding: 1px 5px 1px 5px;
    border-radius: 2px;
}
