<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- https://minicss.us/docs.htm#getting-started -->
    <link rel="stylesheet" href="/static/mini-default.css">

    <!-- https://htmx.org/ -->
    <script src="/static/htmx.min.js.gz"></script>

    <!-- https://github.com/mdaines/viz-js -->
    <script src="/static/viz-standalone.js"></script>

    <!-- Override styles locally -->
    <link rel="stylesheet" href="/static/genescape.css?param={{rand}}">

</head>

<body>

<div class="container">

    <div class="row hide" id="error-bar">
        <div class="col-sm-12">
            <!-- Error indicator -->
            <span id="error-div" style="display:inline-block;"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" id="#form">

            <span class="title">GeneScape</span>

            <button>
                Load File
            </button>

            <button hx-post="/check/"
                    hx-trigger="click"
                    hx-indicator="#loadingFile"
                    hx-swap="innerHTML"
                    hx-target="#input"
                    hx-include="#input, #pattern">
                Check Input
            </button>

            <input type="text" id="pattern" name="pattern" placeholder="Pattern"/>

            <button hx-post="/dot/"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-include="#input"
                    hx-indicator="#loadingImage"
                    hx-target="#dot">
                Draw Tree
            </button>

            <button data-action="zoom-in">Zoom In</button>
            <button data-action="zoom-out">Zoom Out</button>

            <button
            hx-get="#"
            hx-trigger="click"
            hx-swap="none"
            class="btn btn-primary"
            data-toggle-width="true">
                Fullscreen
            </button>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>

    <div class="row header">
        <div class="col-sm-3">
            Genes or GO Terms
        </div>
        <div class="col-sm-9">
            Tree
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" id="sideBar">

            <div id="loadingFile" class="htmx-indicator">
                <span class="mark">Verifying the input ...</span>
            </div>

            <textarea class="doc" name="input" id="input" hx-swap-oob="true" style="width:100%;" placeholder="Content"
                      spellcheck="false" value="hey">
Cyp1a1
Sphk2
Sptlc2
Smpd3
            </textarea>

        </div>
        <div class="col-sm-9" id="mainBar">

            <!-- Loading  indicator -->
            <div id="loadingImage" class="htmx-indicator">
                <span class="mark">Drawing GO tree ...</span>
            </div>

            <!-- Graph placeholder -->
            <div id="graphContainer">
                <div id="graph">
                    <img src="/static/img/placeholder.png">
                </div>
            </div>

            <!-- Dot placeholder -->
            <pre id="dot" style="display: none;"></pre>

        </div>
    </div>
</div>

</body>

<!-- Load local javascript tasks -->
<script src="/static/genescape.js?param={{rand}}"></script>

<script>
    document.addEventListener('htmx:afterSwap', function(event) {
        if(event.target.id === "dot") {
            const content = event.target.textContent;
            render_graph(content);
        }
    });
</script>

</html>

