<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- https://minicss.us/docs.htm#getting-started -->
    <link rel="stylesheet" href="/static/mini-default.css">

    <!-- https://htmx.org/ -->
    <script src="/static/htmx.min.js.gz"></script>

    <!-- Override styles locally -->
    <link rel="stylesheet" href="/static/genescape.css?param={{rand}}">

</head>

<body>

<div class="container">

    <div class="row hide" id="error-bar">
        <div class="col-sm-12">
            <!-- Error indicator -->
            <span id="error-div" style="display:inline-block;"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <span class="title">GeneScape</span>

            <button>
                Load File
            </button>

            <button hx-post="/image/"
                    hx-trigger="click"
                    hx-indicator="#loadingFile"
                    hx-swap="none"
                    hx-include="#input">
                    Check Input
            </button>


            <button hx-post="/image/"
                    hx-trigger="click"
                    hx-target="#output"
                    hx-swap="outerHTML"
                    hx-indicator="#loadingImage"
                    hx-include="#input">
                Draw Tree
            </button>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>

    <div class="row header">
        <div class="col-sm-3">
            Genes or GO Terms
        </div>
        <div class="col-sm-9">
            Tree
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div id="loadingFile" class="htmx-indicator">
                <span class="mark">Verifying the input ...</span>
            </div>

            <textarea class="doc" name="input" id="input" hx-swap-oob="true" style="width:100%;" placeholder="Content" spellcheck="false" value="hey">
GO:0005488
GO:0005515
GO:0048029
GO:0005537
GO:0003824
            </textarea>

        </div>
        <div class="col-sm-8">
            <!-- Loading  indicator -->
            <div id="loadingImage" class="htmx-indicator">
                <span class="mark">Generating the image...</span>
            </div>

            <div id="output">
                <img src="static/img/800x600.png">
            </div>

        </div>
    </div>
</div>

</body>

<!-- Load local javascript tasks -->
<script src="/static/genescape.js?param={{rand}}"></script>

</html>

