:root {
    --border-color: #77ddaa;
    --input-back-color: #fcfcfc;
}

.title {
    font-size: 1.3em;
    font-weight: bold;
}

.logo {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height:48px;
}

.cnt {
    display: flex;
    align-items: center;
}
.row.align-center {
    display: flex;
    align-items: center;
}

#count {
    //width:2rem;
}

.centered {
    display: flex;
    justify-content: center; /* Aligns horizontally */
    align-items: center; /* Aligns vertically */
    padding:5px;
}

.footer {
    text-align: center;
}

hr {
    height: auto;
    border: none;
    margin: 0;
    background-color: lightgray;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 2px;
    margin-top: 2px;
    background-image: none;
}

svg text {
    font-size: 13px;
}

svg {
    //width: 100 %;
    //border: blue solid 1px;
}

.input {
    margin: 0px;
    height: 30ex;
    width: 100%;
    white-space: pre;
    overflow-x: auto;
}

#graph {
    //padding: 1em;
}

#graphContainer {
    padding: 1ex;
    //overflow: auto;
    border: var(--border-color) solid 1px;
}

.col-sm-0 {
    display: none;
}

.header {
    padding-top: 5px;
    font-size: larger;
    font-weight: bolder;
}

#input {
    height: 50%;
    min-height:300px;
    border: var(--border-color) solid 1px;
}

.red {
    border: red solid 1px;
}

.blue {
    border: blue solid 1px;
}

.grow {
    flex-grow: 1;
}


#terms {
    height: 50%;
    min-height:300px;
    border: var(--border-color) solid 1px;
}

#error-div {
    color: white;
    background-color: red;
    font-weight: bold;
    padding: 2px;
    margin-top: 3px;
}

.hide {
    display: none;
}

.mark {
    background-color: seagreen;
    color: white;
    padding: 1px 5px 1px 5px;
    border-radius: 2px;
}

.box-bp {
    width: 10px;
    height: 10px;
    float: left;
    background-color: red;
}
